.cabecalho{
    position: absolute;
    width: 1440px;
    height: 192px;
   left: 0px;

    top: 0px ;
    background: #0d0d0d;
}

.titulocab{
    position: absolute;
    width: 528px;
    height: 55px;
    font-family:'sail';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height:55px ;
    color:#ffffff;
}

.corpo{
    background-color:#537D76;
}

.titulocorpo{]
    position: absolute;
    width: 565.11px;
    heigth:85.46px;
    font family:'manrope';
    font style:normal;
    font weight:400;
    fonte size:24px;
    line height: 33px;
    text alingn:center;

    color:#ffffff;
    transform:rotate(-0.31deg);

}

.texto1{
    width: 565.111px;
    height: 85.455px;
    transform: rotate(-0.313deg);
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.texto2{
    width: 344px;
    height: 29px;
    color: #fff;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


